.person
  .avatar= image_tag current_user.avatar.url(:thumb)
  .user-contents
    %h1= current_user.username

%h3 What's happening?
= form_for @tweet do |f|
  = f.text_field :message, class: "span12"
  = f.submit

- if @tweets.count > 0
  = render partial: 'tweets/tweets', object: @tweets

